<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/reset.css">
    <!-- <link rel="stylesheet" href="utils.css"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main.css">
</head>
<body class="column center">
    <div class="panel--gradient_00 example">
        <div class="grdnt"></div>
    </div>
    <div class="panel--gradient_01 example">
        <div class="grdnt"></div>
    </div>
    <div class="panel--gradient_02 example">
        <div class="grdnt"></div>
    </div>

    <div class="color-set">
        <!-- <div class="navigator navigator-nxt"></div>
        <div class="navigator navigator-prv"></div> -->

        <div class="clr-1 clr clr-default" data-clr="1"></div>
        <div class="clr-2 clr clr-default" data-clr="2"></div>
        <div class="clr-3 clr clr-default" data-clr="3"></div>
        <div class="clr-4 clr clr-default" data-clr="4"></div>
        <div class="clr-5 clr clr-default" data-clr="5"></div>
    </div>
</body>
<!-- <script src="index.js"></script> -->
<script>
    // for each panel start with current color
    /* 
        define what a tint/tone of 100 looks like
            bourbon tint(pct)
            bourbon shade(pct)

        if color is 
    */
</script>
</html>