<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/color-dashboard--v2.css">
</head>
<body>
    <div class="color-card">
        <div class="current-color">#1d90f5</div>
        <div class="current-variations">
            <div class="v5" data-role="tnt" data-var="500"></div>
            <div class="v4" data-role="tnt" data-var="400"></div>
            <div class="v3" data-role="tnt" data-var="300"></div>
            <div class="v2" data-role="tnt" data-var="200"></div>
            <div class="v1" data-role="tnt" data-var="100"></div>
        </div>
        <div class="current-title">Anywhere Blue</div>
    </div>
</body>
</html>