<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>highlight-bar</title>
    <link rel="stylesheet" href="/styles/highlight-bar.css">
</head>
<body>
    <div class="highlight-bar">
        <div class="arrow-left">
            <!-- arrow-left -->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <g>  
                <polyline fill="none" stroke-width="3" stroke-linejoin="bevel" stroke-miterlimit="10" points="37,15 20,32 37,49"></polyline>  
                </g>   
            </svg>
        </div>
        <div class="content">
            <div class="content--selection">
                <span>Crayola</span>
            </div>
            
            <div class="content--selection">
                <span>Crayola</span>
            </div>
            <div class="content--selection">
                <span>Crayola</span>
            </div>
            <div class="content--selection">
                <span>Crayola</span>
            </div>
            <div class="content--selection">
                <span>Crayola</span>
            </div>
            <div class="content--selection">
                <span>Crayola</span> 
            </div>
            
        </div>
        <div class="arrow-right">
            <!-- arrow-right -->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <g>
                    <polyline fill="none" stroke-width="3" stroke-linejoin="bevel" stroke-miterlimit="10" points="27,15 44,32 27,49"></polyline>
                </g>    
            </svg>
        </div>
    </div>
</body>
</html>