.search-inp {
    font-size: 16px;
    width: 100%;
    line-height: 1.7;
    outline: none;
    border: 1px solid rgba(204, 204, 204, 0.278);
    color: #7d7d7d;
    margin-bottom: 32px;
    border-radius: 14px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}