@use '../mixins.scss' as *;

.editor-modal {
  display: flex;
  height: 100%;
  .modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .color-card {
      display: flex;
      flex-direction: column;
      position: relative;
      color: #444;
      padding-top: 40px;
      margin-left: 12px;
      padding-left: 12px;
      height: 40%;
      .card-info {
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 48px;
        .info-label {
          font-size: 32px;
          color: #7e7e7e;
          font-weight: 600;
          opacity: .6;
          letter-spacing: -0.0125em;
          text-transform: capitalize;
        }
        .name-label {
          font-size: 48px;
          // margin-bottom: 12px;
        }
      }
      .card-editor {
        display: inline-flex;
        width: fit-content;
        position: relative;
        .val-label {
          display: inline-flex;
          flex-wrap: nowrap;
          margin-left: 40px;
          .input-label {
            min-width: 72px;
            display: inline-flex;
            justify-content: flex-start;
            user-select: none;
          }
        }
        .btn-add-preset {
          padding: 8px 124px;
          border: 1px solid $bdr-light;
          display: inline-flex;
          position: absolute;
          // top: -28px;
          bottom: 0;
          right: 8px;
          border-radius: 8px;
        }

      }
      .editor {
        --width: 200px;
        --pointer: calc(var(--width) * .1);
        --color: #fff;

        display: flex;
        .current-color {
          padding: 0px 24px;
          position: relative;
        }
        .icon.copy {
          position: absolute;
          top: -24px;
          right: 0;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 48px;
          height: 48px;
          // scale: .8;
          flex: 1;
          border-radius: 100%;
          border: 1px solid $bdr-light;
          background: white;
          transition: 200ms ease-in-out;
          &:hover {
            background-color: #f3f3f3;
          }
          &.animate {
            background-color: hsl(var(--hue),var(--sat),var(--light));
          }
        }
        .hue-wheel {
          position: relative;
          height: var(--width);
          aspect-ratio: 1;
          .inner-clip {
            position: relative;
            margin: 0 auto;
            top: 5%;
            height: calc(var(--width) * .9);
            aspect-ratio: 1;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(var(--editor-hue));
            transition: 400ms ease-out;
            background: white;
            border-radius: 50%;
            background: radial-gradient(circle at center, #c5c5 20%,#fefefe);
            /* transition: 50ms linear; */
            // HANDLE 
            &::after {
              content: "";
              position: absolute;
              height: var(--pointer);
              aspect-ratio: 1;
              border-radius: 50%;
              background: var(--color);
              /* top: calc(-10% + (var(--cp-pointer--width)/2)); */
              top: -10%;
              left: calc(50% - (var(--pointer/2)));
              box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.152);
              border: 1px solid #ccc,       
            }
          }
          // OUTER RAINBOW BACKGROUND 
          .outer-clip {
              background: white;
              border-radius: 50%;
              position: absolute;
              top: 0px;
              left: 0px;
              height: var(--width);
              aspect-ratio: 1;
              z-index: 1;
              background: conic-gradient(hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
              /* border: 1px solid rgba(211, 211, 211, 0.5293); */
              box-shadow: 0px 0px 18px -1px rgba(91, 90, 90, 0.131),
                          inset 0px 0px 2px 0px rgba(211, 211, 211, 0.2893);
                              
          }
          // INNER BACKGROUND COLOR ( current color )
          .knob {
              inset: -4px;
              position: absolute;
              background: hsl(var(--editor-hue),var(--editor-sat),var(--editor-light));
              border-radius: 50%;
              box-shadow: 0 0 3px -1px rgba(3, 3, 3, 0.0793),
                          0px 0px 12px 3px rgba(88, 88, 88, 0.0122),
                          inset 0 0 24px -1px rgba(98, 98, 98, 0.13);
          }
        }

        .sliders {
          padding-top: 10px;
        }

        .slider-field {
            display: flex;
            align-items: center;
            padding: 8px;
            .input-bar {
                position: relative;
                display: flex;
                height: 10px;
                width: 360px;
                border-radius: 20px;
                border: 1px solid rgba(211, 211, 211, 0.5293);
                box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1289),
                            inset 0px 0px 2px 0px rgba(211, 211, 211, 0.2893);
                margin: 12px auto;
                &.hue-bar {
                    background: linear-gradient(to right, hsla(0, 96%, 55%, 1),hsla(10, 96%, 55%, 1),hsla(20, 96%, 55%, 1),hsla(30, 96%, 55%, 1),hsla(40, 96%, 55%, 1),hsla(50, 96%, 55%, 1),hsla(60, 96%, 55%, 1),hsla(70, 96%, 55%, 1),hsla(80, 96%, 55%, 1),hsla(90, 96%, 55%, 1),hsla(100, 96%, 55%, 1),hsla(110, 96%, 55%, 1),hsla(120, 96%, 55%, 1),hsla(130, 96%, 55%, 1),hsla(140, 96%, 55%, 1),hsla(150, 96%, 55%, 1),hsla(160, 96%, 55%, 1),hsla(170, 96%, 55%, 1),hsla(180, 96%, 55%, 1),hsla(190, 96%, 55%, 1),hsla(200, 96%, 55%, 1),hsla(210, 96%, 55%, 1),hsla(220, 96%, 55%, 1),hsla(230, 96%, 55%, 1),hsla(240, 96%, 55%, 1),hsla(250, 96%, 55%, 1),hsla(260, 96%, 55%, 1),hsla(270, 96%, 55%, 1),hsla(280, 96%, 55%, 1),hsla(290, 96%, 55%, 1),hsla(300, 96%, 55%, 1),hsla(310, 96%, 55%, 1),hsla(320, 96%, 55%, 1),hsla(330, 96%, 55%, 1),hsla(340, 96%, 55%, 1),hsla(350, 96%, 55%, 1),hsla(360, 96%, 55%, 1));
                }
                &.sat-bar {
                    background: linear-gradient(to right, hsla(var(--editor-hue), 0%, 50%, 1),hsla(var(--editor-hue), 20%, 50%, 1),hsla(var(--editor-hue), 40%, 50%, 1),hsla(var(--editor-hue), 60%, 50%, 1),hsla(var(--editor-hue), 80%, 50%, 1),hsla(var(--editor-hue), 100%, 50%, 1));
                }
                &.light-bar {
                    background: linear-gradient(to right, hsla(var(--editor-hue), 100%, 0%, 1),hsla(var(--editor-hue), 100%, 20%, 1),hsla(var(--editor-hue), 100%, 40%, 1),hsla(var(--editor-hue), 100%, 60%, 1),hsla(var(--editor-hue), 100%, 80%, 1),hsla(var(--editor-hue), 100%, 100%, 1));
                }
                &.hue-bar,
                &.sat-bar,
                &.light-bar {
                    margin: 12px auto;
                    height: calc(var(--width) * .08);
                    height: 10px;
                    width: var(--width);
                    opacity: .8;
                    border: 0;
                    position: relative;
                    display: flex;
                    align-items: center;
                }
            
                .input-thumb {
                    --layer: linear-gradient(-60deg,white,#f0f0f0 70%);
                    position: absolute;
                    // top: -2px;
                    left: -2px;
                    height: calc((var(--width) * .08) + 4px);
                    aspect-ratio: 1;
                    border-radius: 50%;
                    // box-shadow: 0 0 0 3px white,
                    //             1px 1px 5px 3px rgba(0, 0, 0, 0.223),
                    //             inset 0 0 0 3px white;
                    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.067),
                                -.125em 0 .25rem rgba(0, 0, 0, 0.148),
                                inset 1px 0px 0px -1px rgba(0, 0, 0, 0.0235),
                                inset 0px 0px 5px 0px rgba(232, 232, 232, 0.155),
                                inset 0px 0px 2px 0px rgba(0, 0, 0, 0.0333);
                    background: white;
                    box-sizing: border-box;
                    border: solid 1px transparent;
                    background: /* stone gray finish */
                                var(--layer) padding-box,
                                var(--layer) border-box;
                    background: #f9f9f9;
                }   
            }

            .val-label, .val-label input {
                text-align: center;
                line-height: 32px;
                color: grey;
                border-radius: 2px;
                font-size: 14px;
            }

            .val-label input {
                border: none;
                outline: none;
                box-shadow: none;
                border-radius: inherit;
                font-family: Arial, Helvetica, sans-serif;
                width: 32px;
                height: 32px;
                vertical-align: middle;
                &:invalid {
                    color: rgb(216, 57, 57);
                }
            }

            .val-label:hover input {
                cursor: text;
                color: #333;
                box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.371);
            }
            
        }
      }

  }

  .color-preview {
    margin-left:12px;
    margin-top: 64px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    flex: 1;
      .tab-tray {
        display: flex;
        .tab {
          margin-right: 24px;
          font-size: 24px;
          // color: #6c6c6c;
          cursor: pointer;
        }
      }
      
      .info-label {
          font-size: 48px;
          color: hsl(var(--editor-hue),var(--editor-sat),var(--editor-light));
      }
      .tab-modal,.preview-modal {
        display: flex;
        flex: 1;
      }
      .modal-column,
      .text-column {
        width: 50%;
        height: 100%;
        display: flex;
      }
      .modal-column {
        justify-content: center;
        align-items: center;

      }
      .text-column {
        flex-direction: column;
        padding-left: 48px;
      }
      .preview-component {
        cursor: default;
        &[component='text'] {
          font-size: 48px;
          color: hsl(var(--editor-hue),var(--editor-sat),var(--editor-light));
        }
        &[component='button'] {
          color: hsl(var(--editor-hue),var(--editor-sat),var(--editor-light));
          display: inline-flex;
          width: fit-content;
          margin-top: 14px;
          padding: 12px 24px;
          border-radius: 12px;
          font-size: 18px;
          border: 1px solid (hsl(var(--editor-hue),var(--editor-sat),var(--editor-light)));
        }
        &[component='paragraph'] {
          margin-top: 20px;
          width: 80%;
          color: hsl(var(--editor-hue),var(--editor-sat),var(--editor-light));
          padding: 12px 24px;
          font-size: 20px;
          letter-spacing: 0.025em;
          line-height: 1.35;
          vertical-align: baseline;
          display: inline;
        }

        &[component='modal'] {
          width: 280px;
          height: 360px;
          border-radius: 36px;
          background-color: hsl(var(--editor-hue),var(--editor-sat),var(--editor-light));
        }

      }
    }
  }

  .browser {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: white;
    flex-direction: column;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    transition: 180ms ease;
    &.active {
      transform: translateX(0px);
    }
  
  }
}
