.color-panel {
    /* Skin */
    border: 1px solid rgba(211, 211, 211, 0.5293);
    box-shadow: 0px 0px 4px 1px rgba(211, 211, 211, 0.5893),
                inset 0px 0px 2px 0px rgba(211, 211, 211, 0.2893);
    border-radius: 16px;
    background: #fefefe;
    position: absolute;
    top: 0;
    left: 100%;
    padding-bottom: 10px;

    margin: 16px;
    margin-top: 0;
    min-width: 300px;
    height: 604px;
    /* min-height: 500px; */
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    opacity: 0;
    pointer-events: none;
    /* rotate: -90deg; */
    transition: opacity 700ms ease 50ms;


    &.active {
        transition: opacity 200ms linear;
        opacity: 1;
        pointer-events: all;
        visibility: visible;
     .content {
        transition: 300ms ease;
        opacity: 1;
     }
     .box {
        transition: 700ms ease 200ms;
        opacity: 1;
      }
      .header {
        transition: 300ms ease;
        opacity: 1;
      }
      .color-label,
      .slider-field,
      .content {
        transition: 300ms ease;
        opacity: 1;
        transform: translateY(0);
      }
      .footer {
        transition: 300ms ease;
        transform: translate(0);
        opacity: 1;
      }
    }

        
    .icon svg {
        /* height: 24px; */
        height: 30px;
        fill: #6e6d7a;
        transition: 120ms ease-out;

        &:hover {
            fill: var(--current-color);
            stroke: var(--current-color);
            color: var(--current-color);
            cursor: pointer;
        }
    }

    .box {
        transition: 500ms ease;
        opacity: 0;
    }

    .content,
    .color-label,
    .slider-field {
        transform: translateY(10px);
        transition: 300ms ease;
        opacity: 0;
    }

    .header {
        opacity: 0;
        transition: 300ms ease;

        height: 370px;
        // background-color: rgba(0, 0, 0, 0.09);
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: 3px;
        background: transparent;
        .icon {
            opacity: .8;
            scale: .8;
            color: #989898;
            padding: 18px 0;
            margin: 4px 0;
            display: inline-flex;
            align-items: center;

        
            svg {
                stroke: currentColor;
                fill: currentColor;
            }
            &.gd-toggler {
                scale:1;
                svg {
                    // color: #3333339a;
                    fill: #1616169a;
                    stroke: #1616169a;
                }
            }
        }
    }

    .content {
        display: flex;
        flex: 1;
        flex-direction: column;

        .color-label {
            font-family: Arial, Helvetica, sans-serif;
            margin: 8px 24px;
            text-wrap: nowrap;
            white-space: nowrap;
            overflow: hidden;
            max-width: 230px;
            display: flex;
            color: rgb(126, 126, 126);
            margin-left: 24px
        }


        .reset-current-color {
            font-size: 14px;
            color: rgb(214, 83, 83);
            cursor: pointer;
        }

        .color-name {
            font-size: 20px;
            font-weight: 600;
            &:hover {
                cursor: text;
            }
        }

        .color-code {
            font-size: 14px;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        padding: 0 24px;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        align-items: center;
        margin-top: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        letter-spacing: -0.05em;
        color: #848484;
        transform: translateY(-18px);
        transition: 200ms ease;
        opacity: 0;

        & > span {
            cursor:pointer;

            &.active {
                color: #5a5a5a;
            }
        }

        .save {
            width: 120px;
            padding: 8px 4px;
            // border-radius: 6px;
            background-color: var(--current-color);
            color: var(--current-contrast);
            text-align: center;
            box-shadow: 0px 0px 4px 0px #84848499;
            line-height: 16px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            letter-spacing: 0.038em;
        }
        .undo,
        .redo {
            flex: 1;
            line-height: 100%;
            margin-top: 2px;
            margin-right: 8px;
            // background-color: #848484;
            font-size: 14px;
            line-height: 16px;
            // height: 100%;
            padding: 6px 4px;
            box-shadow: 0px 0px 2px 0px #84848499;
            border-radius: 3px;
            text-align: center;
            background-color: #f5f5f558;
            color: #848484;
        }
    }

    .hue-wheel {
        margin: 0 auto;
        margin-bottom: 16px;
        margin-top: 48px;
        position: relative;
        height: var(--cp--width);
        aspect-ratio: 1;
    
        // OUTER RAINBOW CLIPPER
        .inner-clip {
            position: relative;
            margin: 0 auto;
            top: 5%;
            height: calc(var(--cp--width) * .9);
            aspect-ratio: 1;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(var(--current-hue));
            transition: 400ms ease-out;
        
            background: white;
            border-radius: 50%;
            background: radial-gradient(circle at center, #c5c5 20%,#fefefe);
            /* transition: 50ms linear; */
            
            // HANDLE 
            &::after {
                content: "";
                position: absolute;
                height: var(--cp-pointer--width);
                aspect-ratio: 1;
                border-radius: 50%;
                background: var(--current-color);
                /* top: calc(-10% + (var(--cp-pointer--width)/2)); */
                top: -10%;
                left: calc(50% - (var(--cp-pointer--width) / 2));
                box-shadow: 
                            0 0 4px 1px rgba(0, 0, 0, 0.152);
                border: 1px solid white,               
                    }
        }

        // OUTER RAINBOW BACKGROUND 
        .outer-clip {
            background: white;
            border-radius: 50%;
            position: absolute;
            top: 0px;
            left: 0px;
            height: var(--cp--width);
            aspect-ratio: 1;
            z-index: 1;
            background: conic-gradient(hsla(0, 100%, 50%, 1),hsla(10, 100%, 50%, 1),hsla(20, 100%, 50%, 1),hsla(30, 100%, 50%, 1),hsla(40, 100%, 50%, 1),hsla(50, 100%, 50%, 1),hsla(60, 100%, 50%, 1),hsla(70, 100%, 50%, 1),hsla(80, 100%, 50%, 1),hsla(90, 100%, 50%, 1),hsla(100, 100%, 50%, 1),hsla(110, 100%, 50%, 1),hsla(120, 100%, 50%, 1),hsla(130, 100%, 50%, 1),hsla(140, 100%, 50%, 1),hsla(150, 100%, 50%, 1),hsla(160, 100%, 50%, 1),hsla(170, 100%, 50%, 1),hsla(180, 100%, 50%, 1),hsla(190, 100%, 50%, 1),hsla(200, 100%, 50%, 1),hsla(210, 100%, 50%, 1),hsla(220, 100%, 50%, 1),hsla(230, 100%, 50%, 1),hsla(240, 100%, 50%, 1),hsla(250, 100%, 50%, 1),hsla(260, 100%, 50%, 1),hsla(270, 100%, 50%, 1),hsla(280, 100%, 50%, 1),hsla(290, 100%, 50%, 1),hsla(300, 100%, 50%, 1),hsla(310, 100%, 50%, 1),hsla(320, 100%, 50%, 1),hsla(330, 100%, 50%, 1),hsla(340, 100%, 50%, 1),hsla(350, 100%, 50%, 1),hsla(360, 100%, 50%, 1));
            /* border: 1px solid rgba(211, 211, 211, 0.5293); */
            box-shadow: 0px 0px 18px -1px rgba(91, 90, 90, 0.131),
                        inset 0px 0px 2px 0px rgba(211, 211, 211, 0.2893);
                            
        }

        // INNER BACKGROUND COLOR
        .knob {
            inset: -5px;
            position: absolute;
            background: var(--current-color);
            border-radius: 50%;
                    box-shadow: 0 0 3px -1px rgba(3, 3, 3, 0.0793),
                        0px 0px 12px 3px rgba(88, 88, 88, 0.0122),
                        inset 0 0 24px -1px rgba(98, 98, 98, 0.13);
        }

    }

    .slider-field {
        display: flex;
        align-items: center;
        padding: 8px;

        .input-bar {
            height: 10px;
            width: 360px;
            border-radius: 20px;
            border: 1px solid rgba(211, 211, 211, 0.5293);
            box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1289),
                        inset 0px 0px 2px 0px rgba(211, 211, 211, 0.2893);
        
            margin: 12px auto;
    
            &.hue-bar {
                background: -moz-linear-gradient(left, hsla(0, 96%, 55%, 1),hsla(10, 96%, 55%, 1),hsla(20, 96%, 55%, 1),hsla(30, 96%, 55%, 1),hsla(40, 96%, 55%, 1),hsla(50, 96%, 55%, 1),hsla(60, 96%, 55%, 1),hsla(70, 96%, 55%, 1),hsla(80, 96%, 55%, 1),hsla(90, 96%, 55%, 1),hsla(100, 96%, 55%, 1),hsla(110, 96%, 55%, 1),hsla(120, 96%, 55%, 1),hsla(130, 96%, 55%, 1),hsla(140, 96%, 55%, 1),hsla(150, 96%, 55%, 1),hsla(160, 96%, 55%, 1),hsla(170, 96%, 55%, 1),hsla(180, 96%, 55%, 1),hsla(190, 96%, 55%, 1),hsla(200, 96%, 55%, 1),hsla(210, 96%, 55%, 1),hsla(220, 96%, 55%, 1),hsla(230, 96%, 55%, 1),hsla(240, 96%, 55%, 1),hsla(250, 96%, 55%, 1),hsla(260, 96%, 55%, 1),hsla(270, 96%, 55%, 1),hsla(280, 96%, 55%, 1),hsla(290, 96%, 55%, 1),hsla(300, 96%, 55%, 1),hsla(310, 96%, 55%, 1),hsla(320, 96%, 55%, 1),hsla(330, 96%, 55%, 1),hsla(340, 96%, 55%, 1),hsla(350, 96%, 55%, 1),hsla(360, 96%, 55%, 1));
            }
    
            &.sat-bar {
                background: -moz-linear-gradient(left, hsla(var(--current-hue), 0%, 50%, 1),hsla(var(--current-hue), 20%, 50%, 1),hsla(var(--current-hue), 40%, 50%, 1),hsla(var(--current-hue), 60%, 50%, 1),hsla(var(--current-hue), 80%, 50%, 1),hsla(var(--current-hue), 100%, 50%, 1));
                .input-thumb{ transform: translateX(calc(var(--cp--width) * var(--current-sat) - (var(--cp--width) * .08) + 4px) ); }
            }
    
            &.light-bar {
                background: -moz-linear-gradient(left, hsla(var(--current-hue), 100%, 0%, 1),hsla(var(--current-hue), 100%, 20%, 1),hsla(var(--current-hue), 100%, 40%, 1),hsla(var(--current-hue), 100%, 60%, 1),hsla(var(--current-hue), 100%, 80%, 1),hsla(var(--current-hue), 100%, 100%, 1));
                // .input-thumb { transform: translateX((var(--current-light)))}
            }
    
            &.hue-bar,
            &.sat-bar,
            &.light-bar {
                margin: 12px auto;
                height: calc(var(--cp--width) * .08);
                height: 10px;
                width: var(--cp--width);
                opacity: .8;
                border: 0;
                position: relative;
                display: flex;
                align-items: center;
            }
        
            .input-thumb {
                --layer: linear-gradient(-60deg,white,#f0f0f0 70%);
            
                position: absolute;
                // top: -2px;
                left: -2px;
                height: calc((var(--cp--width) * .08) + 4px);
                aspect-ratio: 1;
                border-radius: 50%;
                // box-shadow: 0 0 0 3px white,
                //             1px 1px 5px 3px rgba(0, 0, 0, 0.223),
                //             inset 0 0 0 3px white;
            
                 box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.067),
                        -.125em 0 .25rem rgba(0, 0, 0, 0.148),
                            
                            inset 1px 0px 0px -1px rgba(0, 0, 0, 0.0235),
                            inset 0px 0px 5px 0px rgba(232, 232, 232, 0.155),
                            inset 0px 0px 2px 0px rgba(0, 0, 0, 0.0333);
                background: white;
            
                box-sizing: border-box;
                border: solid 1px transparent;
        
                background: /* stone gray finish */
                            var(--layer) padding-box,
                            var(--layer) border-box;
                background: #f9f9f9;
            }   
        }

        .val-label,.val-label input {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            width: 32px;
            height: 32px;
            vertical-align: middle;
            text-align: center;
            display: inline;
            line-height: 32px;
            color: grey;
            border-radius: 2px;
        }
    
        .val-label input {
            border: none;
            outline: none;
            box-shadow: none;
            border-radius: inherit;
            &:invalid {
                color: rgb(216, 57, 57);
            }
        }

        .val-label:hover {
            cursor: text;
            color: #333;
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.371);
        }
        
    }
}
