@forward './components/components.scss';

*,*::after,*::before {
    box-sizing: border-box;
}
html,body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin: 0;
}

#root {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}
.db_res {
    position: relative;
    flex: 1;
    overflow-y: scroll;
    margin-bottom: 12px;
    padding-bottom: 12px;
}
.db_res.menu-active {
    opacity: .5;
}


